

body{
background-color:aliceblue;
  background-size:contain;
  margin:0;
  padding:0;
}

 .navigation {
background-color:honeydew;
border-radius:8px;
 }

li {
    display: inline-block;
    width: 100px;
}


h4 {
  background-color: #05A8AA;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  padding: 20px;
  margin: 0px auto;
}

#heading {
    margin-top: 100px;

}

aside{
    background-color:pink;
    margin-right: 470px;
}

h1 {
    color: lightcoral;
    text-align: center;
}

audio {
    margin: auto;
    display: block;
}

h3 {
    border: 1px solid lawngreen;
    padding: 10px 10px;
}

li {
    color: olivedrab;
    font-size: 14px;
    line-height: 1.7;
}

p{
    font-family:Georgia, serif;
    font-size: 16.5px;
    text-align:left;
    margin: 20px;
}

h2 {
    color:olivedrab;
}
.contact{
    font-size: 13px;
    font-style:oblique;
}

.close{
    font-size: 12px;
}



  .content {
    width: 100%;
    height: 500px;
    margin: 10px auto;
  }